<div class="container color-dark">
  <div class="col">
    <p>Adicionar uma tarefa a ser realizada</p>
  </div>
  <div class="col">
    <p>Sua lista de tarefas</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">O que você quer realizar em sua vida?</p>

    <form>
      <input
        type="text"
        class="txt"
        name="item"
        placeholder="Objetivos de vida"
      />
      <input type="submit" class="btn" value="Adionar Tarefas" />
    </form>
  </div>
  <div class="col">
    <p class="life-container">viajar pelo Mundo!</p>
  </div>
</div>
